<li class="<%= position %>">
    <div class="head">
        <span class="time"><%= time %></span>
        <span class="name"><%= username %></span>
    </div>
    <div class="<%= type %>"><%= message %></div>
</li>

