<li id="everyone">
    <i class="fa fa-users fa-fw user-icon"></i>
    <div class="info">
        <div class="user">Grup Chat</div>
        <div class="message-alert label label-warning">New message</div>
    </div>
</li>
<% if (_.isEmpty(users)) { %>
<li class="no-user"><p>No user online..</p></li>
<% } %>
<% _.each(users, function(user) { %>
<li id="<%= user.username %>">
    <img src="<%= user.imatgePerfil %>" class="img-circle" width="50" height="50">
    <div class="info">
        <div class="user"><%= user.username %></div>
        <div class="status <%= user.status %>"> <%= user.status %></div>
        <div class="message-alert label label-warning">New message</div>
    </div>
</li>
<% }); %>
