<div class="avatar">
    <% if (receiver == 'everyone') { %>
    <i class="fa fa-users"></i>
    <% } else { %>
    <!--<i class="fa fa-user"></i>-->
    <img src="<%= img %>" class="img-circle" width="50" height="50">
    <% } %>
</div>
<div class="info">
    <% if (receiver == 'everyone') { %>
    <div class="name">Grup Chat (all users)</div>
    <% } else { %>
    <div class="name"><%= receiver %></div>
    <% } %>
    <div class="count"><span>0</span> messages</div>
</div>
