<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
    			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
    			</button>
		</div>
		<div class="navbar-collapse collapse">
    		<ul class="nav navbar-nav navbar-left">
        		<li><a class="icon-web" href="#home"><img src="../images/smallIcon.png" alt="Home"/></a></li>
    		</ul>
    		<ul class="nav navbar-nav">
        	<% if (user && user.username) { %>
        	<li><a class="icon-home"><img src="../images/home.png" alt="Home"/></a></li>
        	<li><a class="icon-xats"><img src="../images/xats.png" alt="Xats"/></a></li>
        	<li><a class="icon-activity"><img src="../images/activity.png" alt="Activity"/></a></li>
        	<li><a class="icon-add"><img src="../images/add.png" alt="Add"/></a></li>
        	<li><a class="icon-profile"><img src="../images/profile.png" alt="Profile"/></a></li>
        	<li><a class="icon-search"><img src="../images/search.png" alt="Search"/></a></li>
        	<li><a class="icon-logout"><img src="../images/logout.png" alt="Logout"/></a></li>
        	<% } %>
    		</ul>
		</div>
	</div>
</nav>
