<link href='../../node_modules/bootstrap-imageupload/dist/css/bootstrap-imageupload.css' rel='stylesheet'>
<div id="imageuploader" class="imageupload panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">New photo</h3>
        <div class="btn-group pull-right">
            <button type="button" id="image" class="btn btn-default active">Image</button>
            <button type="button" id="video" class="btn btn-default">Video</button>
        </div>
    </div>

    <div class="file-tab panel-body">
        <h5 class="text-left">Choose or drop an image on the button (max 4 MB)</h5>
        <label class="btn btn-default btn-file btn-block">
            <span>Browse</span>
            <!-- The file is stored here. -->
            <input type="file" name="imagefile" id="fileInput" value="Browse">
        </label>
        <button type="button" class="btn btn-danger btn-block">Remove</button>
    </div>
    <div class="video-tab panel-body">
        <h5 class="text-left">Choose or drop a video on the button</h5>
        <video autoplay loop class="videoPreview embed-responsive-item" src="" controls type="video/mp4" hidden></video>
        <label class="btn btn-default btn-file btn-block">
            <span>Browse</span>
            <!-- The file is stored here. -->
            <input type="file" name="imagefile" id="fileInput2" value="Browse" accept=".mp4">
        </label>
    </div>
    <div>
        <input id="description" type="text" class="form-control" placeholder="Description">
        <input type="submit" class="btn btn-block btn-success" value="Upload post">
    </div>
    <div class="alert alert-warning" hidden>
        <strong>Warning!</strong> You should select an image
    </div>
</div>


