<div class="image_galeria_container">
  <% if (post.get('type') === 'image') { %>
    <div class="imatge_galeria" style="background-image: url('<%= post.get('url') %>')"></div>
  <% } else { %>
    <div class="imatge_galeria video_galeria">
      <video preload="auto" src="<%= post.get('url') %>" type="video/mp4"></video>
    </div>
  <% } %>
  </div>
</div>
