<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-8">
                <% if (post.get('type') === 'image') { %>
                <img class="img-responsive" src="<%= post.get('url') %>" style="width:100%">
                <% } else { %>
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <video autoplay loop class="embed-responsive-item" controls src="<%= post.get('url') %>" type="video/mp4"></video>
                </div>
                <% } %>
            </div>
            <div class="col-md-4">
                <div class="usuari_imatge" style="height: 100px">
                    <div class="col-md-4">
                        <img align="left" class="avatar img-circle img_user_post"
                             src="<%= post.get('User').imatgePerfil %>"
                             alt="Imatge usuari"/>
                    </div>
                    <div class="col-md-8">
                        <p><b><%= post.get('User').username %></b></p>
                        <p><%= post.get('caption') %></p>
                    </div>
                </div>
                <div class="like">
                    <% var liked = _.find(post.get('Likes'), function(like) { %>
                    <% return like.User.username === post.get('userName') })%>
                    <% if (liked !== undefined) { %>
                    <span class="btn btn-danger glyphicon glyphicon-heart"></span>
                    <% } else { %>
                    <span class="btn btn-default glyphicon glyphicon-heart-empty"></span>
                    <% } %>
                    <button class="btn btn-default" data-toggle="modal" data-target="#myModal"><%=_.size(post.get('Likes')) %> likes</button>
                </div>
                </br>
                <div class="afegir_comentari_imatge">
                    <div class="form-group">
                        <input type="text" class="form-control" id="comment" placeholder="Add a comment...">
                    </div>
                    <button class="submitButton btn btn-default">Submit</button>
                </div>
                <div class="comentaris_imatge">
                    <% _.each(post.get('Comments'), function(comment) { %>
                    <p class="panel-body"><b><%= comment.User.username %></b> <%=comment.text %></p>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Liked by</h4>
                </div>
                <div class="modal-body">
                    <div class="comentaris_imatge">
                        <% _.each(post.get('Likes'), function(like) { %>
                        <div class="col-md-4">
                            <img align="left" class="avatar img-circle img_user_post"
                                 src= "<%= like.User.imatgePerfil %>"
                                 alt="Imatge usuari"/>
                        </div><p class="panel-body"><b><%= like.User.username %></b></p>
                        <% }); %>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>