<div class="col-xs-12 col-sm-3">
    <img src="<%= user.get('imatgePerfil') %>" alt="<%= user.get('username') %>" class="img-responsive img-circle" />
</div>
<div class="col-xs-12 col-sm-9">
    <span class="name"><%= user.get('username') %></span><br/>
</div>
<div class="clearfix"></div>