<div class="container">
    <!--
    <div class="row">

        <div class="col-sm-12">
            <h1>Change Password</h1>
        </div>
    </div>
    -->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <!--<form method="post" id="passwordForm"> -->
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="piCurrPass">New Password</label>
                    <div class="col-md-4">
                        <input name="password1" id="password1" type="password" placeholder="" class="form-control input-md" required="">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="piNewPass">Repeat New Password</label>
                    <div class="col-md-4">
                        <input name="password2" id="password2" type="password" placeholder="" class="form-control input-md" required="">

                    </div>
                </div>
                <!--
                <div class="row">
                    <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
                </div>
                -->
                <!-- <div class="row">
                    <div class="col-sm-6">
                        <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
                        <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
                    </div>
                    <div class="col-sm-6">
                        <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                        <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
                    </div>
                </div> -->
                <!--
                <div class="row">
                    <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
                </div>
                -->
                <!--
                <div class="row">
                    <div class="col-sm-12">
                        <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
                    </div>
                </div>
                -->

                <div class="form-group">
                    <label class="col-md-4 control-label" for="bCancel"></label>
                    <div class="col-md-8">
                        <span></span>
                        <input id="btnChangePass" class="btn btn-primary" value="Change password" type="button">
                        <span></span>
                        <input id="btnCancelChangePass" class="btn btn-default" value="Cancel" type="reset" name="bCancel">
                        <!--<button id="btnChangePass" name="bGodkend" class="btn btn-success">Change Password</button>
                        <button id="btnCancelChangePass" name="bCancel" class="btn btn-danger">Cancel</button> -->
                    </div>
                </div>
                <!--
                <div class="form-group">
                <span></span>
                <input id="btnChangePass" class="btn btn-primary" value="Change password" type="button">
                <span></span>
                <input id="btnCancelChangePass" class="btn btn-default" value="Cancel" type="reset">
                </div>
                -->
            </form>
        </div><!--/col-sm-6-->
    </div><!--/row-->
</div>