<div class="comentaris_imatge">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <h3>Siguiendo</h3>
        </div>
        <br>
        <div class="row">
            <ul class="users_list">
            </ul>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>