<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile" style="height: 200px;">
        <div class="col-md-3">
            <img align="left" class="avatar img-circle fb-image-profile" src="<%= profile.get('imatgePerfil') %>" alt="Profile image example" />
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3">
                    <h2><%= profile.get('username') %></h2>
                </div>
                <div class="col-md-9">
                    <button class="click_profile_button"><%= profile_button %></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 user_publications"><b><%= num_publications %></b> publicaciones</div>
                <div class="col-md-3 user_followers"><a style="color: inherit;"><b><%= num_followers %></b> seguidores</a></div>
                <div class="col-md-3 user_following"><a style="color: inherit;"><b><%= num_following %></b> seguidos</a></div>
            </div>
            <div class="row">
                <h3 class="name_usuari"><b><%= profile.get('name') %> <%= profile.get('lastName') %></b></h3><%= profile.get('bio') %>
            </div>
        </div>
    </div>
    <div class="galeria_imatges_usuari">
    </div>
</div>
