<li style="width: 570px;height: 100px">
    <div class="usuari_imatge col-md-8" style="height: 100px">
        <div class="col-md-3">
            <img align="left" class="avatar img-circle img_user" src="<%= user.get('imatgePerfil')%>" alt="Imatge usuari" />
        </div>
        <div class="col-md-9">
            <p class="user_username"><b><%= user.get('username') %></b></p>
            <p class="user_name"><%= user.get('name') %> <%= user.get('lastName') %></p>
        </div>
    </div>
    <div class="col-md-4" style="padding: 15px;">
        <% if (follower_button.length > 0) { %>
        <button class="user_button_follow">
            <%= follower_button %>
        </button>
        <% } %>
    </div>
</li>