<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container" style="padding-top: 0px;">
    <h1 class="page-header">Edit Profile</h1>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <!--<img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">-->
                <img id="imageProfile" alt="avatar" class="avatar img-circle fb-image-profile" src="<%= profile.get('imatgePerfil') %>"  />
                <h6>Upload a different photo...</h6>
                <input id="inputFile"  type="file" class="text-center center-block well well-sm" value="Escollir archiu">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <h2 class="page-header">User name: <%= profile.get('username') %></h2>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" id="firstname" value="<%= profile.get('name') %>" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" id="lastname" value="<%= profile.get('lastName') %>" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Website:</label>
                    <div class="col-lg-8">
                        <input class="form-control" id="website" value="<%= profile.get('website') %>" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Bio:</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="4" id="bio" value="<%= profile.get('bio') %>" type="text"><%= profile.get('bio') %></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Gender:</label>
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <select id="gender" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input id="btnSaveProfile" class="btn btn-primary" value="Save Changes" type="button">
                        <span></span>
                        <input id="btnGoChangePass" class="btn btn-primary" value="Change password" type="button">
                        <span></span>
                        <input id="btnCancelEditProfile" class="btn btn-default" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>